.row{width:100%;max-width:58.750em;zoom:1;margin:0 auto;}
.row:before,.row:after{display:table;line-height:0;content:""}
.row:after{clear:both}
[class*="span"]{position:relative;padding-left:.9375em;padding-right:.9375em;float:left;}
.row.collapse [class*="span"]{padding-left:0;padding-right:0;}


.span1{width:8.33333%;}
    .span2{width:16.66667%;}
    .span3{width:25%;}
    .span4{width:33.33333%;}
    .span5{width:41.66667%;}
    .span6{width:50%;}
    .span7{width:58.33333%;}
    .span8{width:66.66667%;}
    .span9{width:75%;}
    .span10{width:83.33333%;}
    .span11{width:91.66667%;}
    .span12{width:100%;}


.container{width:940px}
.container{margin-right:auto;margin-left:auto;*zoom:1}
.container:before,.container:after{display:table;line-height:0;content:""}
.container:after{clear:both}
